body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #d8da3d }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

  .spiralContainer {
    border-radius: 50%;
    width:200px;
    height:200px;
    overflow:hidden;
    margin:20px;
    
    -webkit-animation: spin 3s linear 0s infinite reverse;
    -moz-animation: spin 3s linear 0s infinite reverse;  
    -ms-animation: spin 3s linear 0s infinite reverse;
    -o-animation: spin 3s linear 0s infinite reverse;
    animation: spin 3s linear 0s infinite reverse;
    
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;  
    animation-play-state: paused;
  }
  .spiral {
    width:200px;
    height:200px;
    border-radius: 50%;
    background-image: img src="Images/Pic100.jpg";
    background-repeat:no-repeat;
    background-position:50% 50%;
    
    
    -webkit-animation: spin 6s linear 0s infinite normal;
    -moz-animation: spin 6s linear 0s infinite normal;
    -ms-animation: spin 6s linear 0s infinite normal;
    -o-animation: spin 6s linear 0s infinite normal;
    animation: spin 6s linear 0s infinite normal;
  }
  .spiralContainer:hover {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }
  @keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }
  @-webkit-keyframes spin {
    0% {-webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
  }
  @-ms-keyframes spin {
    0% {-ms-transform: rotate(360deg); }
    100% { -ms-transform: rotate(0deg); }
  }
  @-moz-keyframes spin {
    0% { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
  }
  @-o-keyframes spin {
    0% { -o-transform: rotate(360deg); }
    100% { -o-transform: rotate(0deg); }
  }