header h1 {
    color: blue;
}
nav ul{padding: 0;}
nav ul li {
    float: left;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color: orange;
    
}
main h1 {
    clear: both;
}    
main img {
    float: right;
}

.box {
  width: 300px;
  height: 300px;
  -webkit-transition: width 2s ease, height 2s ease;
  -moz-transition: width 2s ease, height 2s ease;
  -o-transition: width 2s ease, height 2s ease;
  transition: width 2s ease, height 2s ease;
}

.box-change {
  width: 400px;
  height: 400px;
}
footer {
    text-align: center;
    clear: both;
}