body
{
  padding-left: 10em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: teal;
  }

div#box1 {
    background: #000000;
    width: 150px;
    height: 150px;
    }

#myDIV {
  width: 400px;
  height: 200px;
  position: relative;
  animation: mymove infinite;
}

@keyframes mymove {
  from {right: 0px;}
  to {left: 800px;}
}

@keyframes mynewmove {
   0%   {top: 0px; left: 0px; background: red;}
  25%  {top: 0px; left: 100px; background: grey;}
  50%  {top: 100px; left: 100px; background: navy blue;}
  75%  {top: 100px; left: 0px; background: green;}
  100% {top: 0px; left: 0px; background: red;}
}