/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/
     
    /*----------- HEADER --------------*/
    header h1{padding-bottom: 0rem; font-size: 3rem;}
    header h2{padding-top: 0rem; margin: 0px; font-size: 2rem;}


/*----------- NAVIGATION --------------*/
  nav button {display: none;}
    nav ul.hide {display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}

    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/


div.suitesGallery figure {
        flex-basis: 46%;
    }
    
div.services {margin: 1rem auto; display:grid; grid-template-columns: 1fr 1fr; max-width: 1048px;}
     
div.services figure {
        flex-basis: 46%;
    }
    
.suitesGallery {margin: 1rem auto; display:grid; grid-template-columns: 1fr 1fr; max-width: 1048px;}

figcaption {font-size: smaller;}
/* hover effect */
.norm:hover {box-shadow: 0 0 50px #333;}
    
    }
/*----------- FOOTER --------------*/
    
 /* end of media query */