/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    header h1{padding-bottom: 0rem; font-size: 2rem;}
    header h2{padding-top: 0rem; font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/
  


/*----------- MAIN --------------*/

.saltlake {
            
        padding: 0px;
        margin: 0px;
        text-align: left;
        float: left;
        width: 100%;
         }

.templeschedule {
            
        padding: 0px;
        margin: 0px;
        text-align: left;
        float: left;
        width: 100%;
         }
           
        
    main figure.slcpic {width: 50%; float: right;padding-left: 2%;} 
    main figure.slcpic img {width:100%;}
    
    main figure.idahofalls2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.idahofalls2c img {width:100%;}
    
    main figure.gilbert2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.gilbert2 img {width:100%;}
    
    main figure.sandiego2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.sandiego2 img {width:100%;}
    
    main figure.bellevue2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.bellevue2 img {width:100%;}
    
    div.contactinfo section:nth-child(1){width: 33%; float: left;}
    div.contactinfo section:nth-child(2){width: 33%; float: left;}
    div.contactinfo section:nth-child(3){width: 33%; float: left;}
    
    div.templeSchedule section:nth-child(1){width: 50%; float: left;}
    div.templeSchedule section:nth-child(2){width: 50%; float: left;}
 
/* hover effect */
.norm:hover {box-shadow: 0 0 50px #333;}
        
    div.templeGallery figure {
        flex-basis: 46%;
    }
    
    div.suitesGallery figure {
        flex-basis: 46%;
    }
    
     div.services figure {
        flex-basis: 46%;
    }
    
    div.services figure {
        flex-basis: 46%;
    }
/*----------- FOOTER --------------*/
    
} /* end of media query */