/* [PLAY GRID] */

#mem-play {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(800px, 1fr) );
  padding-left: 5em;
  padding-right: 5em;
  
     }
.mem-card {
  background: #ffd700;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.mem-card.open {
  background: #C0C0C0;
}
.mem-card.ok {
  background: #FF0000;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: darkgreen;
}
header h1 {
    color: red;
    font-size: 100px;
    text-align: center;
    font-family: serif;
    font-style: italic;
}
.button{
    height:200px;
    width:800px;
    font-size: 100px;
    
}